<style>
.plugin_slide_{{_tag}} {
	position: relative;
	width: {{width}}px;
	height: {{height}}px;
}
.plugin_slide_{{_tag}} ul.slide {
	width: {{width}}px;
	height: {{height}}px;
	border: 1px solid #888;
	overflow: hidden;
	list-style: none;
	padding: 0px;
}
.plugin_slide_{{_tag}} ul.slide li {
	display: none;
}
.plugin_slide_{{_tag}} .num {
	bottom: 4px;
	right: 18px;
	position: absolute;
	margin: 0px;
}
.plugin_slide_{{_tag}} .num li {
	background-color: #888;
	color: #FFF;
	cursor: pointer;
	float: left;
	font-family: Arial;
	font-size: 12px;
	height: 16px;
	line-height: 16px;
	margin: 3px 1px;
	overflow: hidden;
	text-align: center;
	width: 16px;
}
.plugin_slide_{{_tag}} .num li.numon {
	line-height: 21px;
	width: 21px;
	height: 21px;
	font-size: 16px;
	margin: 0 1px;
	background-color: #A72B23;
	font-weight: bold;
}
/*contentright images gallery area end */

	</style>

<script>
$(document).ready(function () {
//=======图片滚动==============
	var $num = $(".plugin_slide_{{_tag}} .num > li");
	var imagenum  = $num.length;
	var index = 0;
	var imageTimer;
	var $images = $('.slide li');

	$num.mouseover(function(){
		index = $(".num li").index(this);
		showImg(index);
	}).eq(0).mouseover();

	$('.plugin_slide_{{_tag}}').hover(function(){
			clearInterval(imageTimer);
		 },function(){
			imageTimer = setInterval(function(){
			index++;
			if(index==imagenum){index=0;}
			showImg(index);
		}, 3000);
	}).trigger("mouseleave");//

	function showImg(index){
		$images.hide();
		$images.eq(index).fadeIn();
		$num.removeClass("numon").eq(index).addClass("numon");
	}
//========图片滚动 完==============
});
</script>


<div class="plugin_slide_{{_tag}}">
	<ul class="slide" >
		{% for i, v in ipairs(datasource) do %}
		<li><a href="{{v.url}}">
			<img src="/{{v.path}}" alt="" />
		</a></li>
		{% end %}
	</ul>
	<ul class="num" >
		{% for i = 1, #datasource do %}
		<li {% if i==1 then %}class="numon"{% end %}>{{i}}</li>
		{% end %}
	</ul>
</div>
